* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    
    border: 1px solid #000000; /* рамка вокруг карточки */
    margin: 20px; /* расстояние карточки от других элементов */
    max-width: 400px;
}

.links {
    display: flex;
    gap: 10px;
}

